---
layout: default
single: true
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">{% include article.html %}</article>
{% unless page.sharing == false %}
    {% include post/sharing.html %}
{% endunless %}

<div class="recent_posts">
<h2 class="title">Recent Posts</h1>
<ul class="posts">  
  {% for post in site.posts limit:5 %}  
    <li>  
      <span>{{ post.date | date_to_string }}</span> &raquo;  
        <a href="{{ BASE_PATH }}{{ post.url }}">  
		   {{ post.title }}</a>  
    </li>  
	{% endfor %}  
</ul>
</div>

<hr>

{% if site.disqus_short_name and page.comments == true %}
<section id="comment">
    <h1 class="title">Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
</section>
{% endif %}


